
  <div class="ui teal fixed inverted menu">
        <div class="ui container">
          <a href="/" class="header item">
            <img class="logo" src="assets/images/logo.png">
            Student Resource
          </a>
          <a href="/students" class="item">Students</a>
          <a href="/resource" class="item">Resource</a>
          <a href="/create_resource" class="item">New Resource</a>
          <div class="right item">
              <a class="ui inverted button noAuth" href="/auth/login">Log in</a>
              <a class="ui inverted button noAuth" href="/auth/signup">Sign Up</a>
              <div>
                <a id="profile" class="ui inverted button auth" href=""><i class="user icon"></i></a>
              </div>
              <button id="btn_signout" class="ui button auth">Sign Out</button>
            </div>
        </div>
        <script>
          var id = window.localStorage.getItem('userid');
          document.getElementById("profile").setAttribute("href", "/student/"+id);
        </script>
      </div>